
body{
    background-image: url('wood.jpg')!important;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white !important;
    }
  
    .image{
        img{
            width: 100%;
            height: 20rem;
        }
    }
 

  
        
  
    