.carousel{

    h5 {
        display: inline-block;
        padding: 10px;
        background: #B9121B;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      
      .p {
        text-align: center;
        padding-top: 40px;
        font-size: 13px;
      }
}

#myCarousel{
    h2{
        margin: 0;     
        color: #666;
        padding-top: 90px;
        font-size: 52px;
        font-family: "trebuchet ms", sans-serif;    
    }
    
    .item{
      
        text-align: center;
        height: 300px !important;
      
    }
    
    .carousel{
        margin-top: 20px;
    }
    
    .bs-example{
        margin: 20px;
    }
    
    .carousel.carousel-fade .item {
      opacity:0;
      filter: alpha(opacity=0); /* ie fix */
    }
    
    .carousel.carousel-fade .active.item {
        opacity:1;
        filter: alpha(opacity=100); /* ie fix */
     
    }
 
    
}

.carousel-item{
    margin-top: 1%;
    align-items: stretch;
    border: red solid 1px;
    text-align: center;

    p{
        font-size: 125%;
    }
    img{
   height:20rem ;
   width: 100%;
    }
}